@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://wallpapercave.com/wp/wp2748624.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  font-family: "EB Garamond", Georgia, serif;
}

.recipe-title {
  @apply underline text-left break-words;
}
.recipe-meta {
  @apply text-xs text-gray-500 text-right justify-self-end;
}
